<div id="<%= dom_id(comment)%>">
  <div class="comment-description">
    <%= comment.description %>
  </div>
  <div class="comment-author">
    By: <%= comment.user.full_name %>
  </div>
  <div class="">
    Created: <%= comment.created_at.strftime("%F - %T") %>
  </div>
  <% if comment.created_at != comment.updated_at %>
  <div class="">
    Edited on: <%= comment.updated_at.strftime("%F - %T") %>
  </div>
  <% end %>

  <% if current_user == comment.user %>
    <%= link_to "Delete", sprint_comment_path(@sprint, comment),
                          method: :delete,
                          remote: true,
                          data: {confirm: "Delete comment?"}%>
    <div class="edit-comment">
      <%= link_to "Edit", edit_sprint_comment_path(@sprint, comment),
                          remote: true %>
    </div>
  <% end %>
  <hr>
</div>
