
<p>
  <%= link_to fa_icon('chevron-left', text: "Snippets"), project_snippets_path(@project), class: "btn btn-link" %>
</p>

<h2><%= @snippet.title %></h2>
<p class="text-muted"><em>Created by: <%= @snippet.user.full_name %></em></p>
<%= markdown(@snippet.description )%>

<% if current_user == @snippet.user %>
<%= link_to fa_icon("edit"), edit_project_snippet_path(@project, @snippet) %>
<%= link_to fa_icon("trash"),
            project_snippet_path(@project, @snippet),
            method: :delete,
            data: {confirm: "Are you sure you want to delete this snippet? This action cannot be undone"} %>
<% end %>
