<p>
  <%= link_to fa_icon('chevron-left', text: "All Muda"), project_mudas_path(@project), class: "btn btn-link" %>
</p>

<h1><%= @muda.title %></h1>
<% if current_user == @muda.user %>
<%= link_to fa_icon("edit"), edit_project_muda_path(@project, @muda) %>
<%= link_to fa_icon("trash"),
project_muda_path(@project, @muda),
method: :delete,
data: {confirm: "Are you sure you want to delete this muda? This action cannot be undone"} %>
<% end %>
<p><em>Created by: <%= @muda.user.full_name %></em></p>

<%= markdown(@muda.description )%>
