
<div class="sprint-details">

  <h2><%= @sprint.title %></h2>

  <% if current_user.is_manager?(@sprint.project) %>
  <%= link_to fa_icon("edit"), edit_project_sprint_path(@sprint.project, @sprint), remote: true %>
  <%= link_to fa_icon("trash"),
  project_sprint_path(@sprint.project, @sprint),
  method: :delete,
  data: {confirm: "Are you sure you want to delete this sprint? This action cannot be undone"} %>
</div>


  <% end %>

  <em><p>Starts on: <%= @sprint.start_date.strftime("%d/%b/%Y") %> | Ends on: <%= @sprint.end_date.strftime("%d/%b/%Y") %></p></em>
  <p><%= @sprint.description %></p>
