<div class="project-details">
  <% if can? :manage, @project %>
  <%= link_to fa_icon("edit"), edit_project_path(@project), remote: true %>
  <%= link_to fa_icon("trash"),
  project_path(@project),
  method: :delete,
  data: {confirm: "Are you sure you want to delete this project? This action cannot be undone"} %>
  <% end %>
  <em>
    <p >Creator: <%= @project.creator.full_name%></p>
    <p>Starts on: <%= @project.start_date.strftime("%d/%b/%Y") %> | Ends on: <%= @project.end_date.strftime("%d/%b/%Y") %></p>

  </em>
  <p><%= @project.description %></p>
  <h4> Members:</h4>
  <!-- add user -->
  <p>
    <%= link_to fa_icon("user-plus"), new_project_assignment_path(project_id: @project), remote: true %>
  </p>

  <!-- search -->
  <div id="search-member-form"></div>
  <div id="search-member-result"></div>
  <!-- end  of search -->
  <!-- end of add user -->
  <p>
    <% @project.members.each do |member| %>
    <div class="member col-md-4 col-sm-6 col-xm-12">
      <h4><%= member.full_name %></h4>

      <% if can? :manage, @project %>
      <%= link_to "Remove",
      project_assignment_path(project_id: @project, user_id: member),
      method: :delete, class: "btn btn-warning",
      data: {confirm: "Are you sure you want to remove this team member?"} %>
      <% if member.is_manager?(@project) %>
      <%=  link_to "Manager", remove_manager_path(project_id: @project, user_id: member), method: :post, :class => "btn btn-default btn-manager", 'data-toggle' => 'tooltip', :title => 'Remove manager'%>
      <% else %>
      <%=  link_to "Manager", add_manager_path(project_id: @project, user_id: member), method: :post, :class => "btn btn-default", 'data-toggle' => 'tooltip', :title => 'Set as manager'%>
      <% end %>
      <% end %>
    </div>
    <% end %>

  </p>



</div>
