
<h1><%= @project.title %></h1>

<div class="container">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Details</a></li>
    <li><a data-toggle="tab" href="#menu1">Sprints</a></li>
    <li><a data-toggle="tab" href="#menu2">Resources</a></li>
    <li><a data-toggle="tab" href="#menu3">Actions</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <br>
      <h3>Details</h3>
        <%= link_to fa_icon("area-chart", text: "Project Map"), project_map_path(id: @project), class: "btn btn-default"%>

      <div id="<%= dom_id(@project) %>">
        <%= render 'project' %>
      </div>
    </div>

    <!-- sprints menu  -->
    <div id="menu1" class="tab-pane fade">
      <br>
      <h3>Sprints</h3>

      <div id="new-sprint-link">
        <%= link_to "New Sprint", new_project_sprint_path(@project),
        remote: true, class: "btn btn-default" %>
      </div>
      <br>
      <br>
      <div class="sprints">
        <% @sprints.each do |s| %>
        <%= render "/sprints/sprint_link", sprint: s %>
        <% end %>
      </div>

      <div id="sprint-form"></div>
    </div>
    <!-- end of sprints  -->

    <!-- resources menu  -->
    <div id="menu2" class="tab-pane fade">
      <br>
      <h3>Resources</h3>
      <p>
        <%= link_to "Snippets", project_snippets_path(@project), class: "btn btn-default" %>
      </p>
      <p>
        <%= link_to fa_icon("bug", text: "Muda"), project_mudas_path(@project), class: "btn btn-default btn-resources" %>
      </p>
    </div>
    <!-- end of resources  -->

    <!-- actions menu  -->
    <div id="menu3" class="tab-pane fade">
      <br>
      <h3>Actions</h3>
      <p>
        <%= link_to "Project is complete!", project_complete_path(id: @project.id), method: :post, class: "btn complete" %>
      </p>
      <p>
        <%= link_to "Cancel project", project_cancel_path(id: @project.id), method: :post, class: "btn cancelled" %>
      </p>
    </div>
    <!-- end of actions  -->
  </div>
</div>
