
<div id="<%= dom_id(@project) %>">
  <%= render 'project' %>
</div>

<%= link_to fa_icon("user-plus"), new_project_assignment_path(project_id: @project), remote: true %>

<!-- search -->
<div id="search-member-form">
</div>
<div id="search-member-result">
</div>
<!-- end -->

<!-- sprints -->
<h2>Sprints</h2>

<div class="sprints">
  <% @project.sprints.each do |s| %>
    <%= render "/sprints/sprint_link", sprint: s %>
  <% end %>
</div>

<div id="new-sprint-link">
  <%= link_to "New Sprint", new_project_sprint_path(@project),
  remote: true %>
</div>

<div id="sprint-form"></div>
<!-- end of sprints -->
