<!DOCTYPE html>
<html>
<head>
  <title>Kenzai</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="https://d3js.org/d3-ease.v0.7.min.js"></script>
  <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

  <!-- header -->
  <div class="">
    <%= render 'layouts/navbar' %>
  </div>
<!-- end of header -->

<div class="container top">
  <div class="row">
    <div class="col-lg-12 col-lg-offset-2">
      <%= yield %>
    </div>
  </div>
</div>


</body>
</html>
