<!DOCTYPE html>
<html>
<head>
  <title>molica</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top" style="background: url(/assets/intro-bg-gray-darker-757168c959d11a1f8a4fa35cd463144492af5d50d04da4e655be2d84b5dc8400.jpg) no-repeat bottom center scroll; background-color: black; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; -o-background-size: cover;">

  <!-- header -->
  <div class="home">
    <%= render 'layouts/navbar' %>
  </div>
<!-- end of header -->

  <%= yield %>


</body>
</html>
